* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}
/* =====================common====================== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 999px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.7;
}

/* =====================header====================== */
a {
  text-decoration: none;
}

.header {
  padding-top: 30px;
  min-height: 100vh;
  background: var(--header-bg);
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  position: relative;
  top: -3px;
  right: 6px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

.header__action--login {
  margin-right: 7px;
}
/* ==================hero===================== */

.hero {
  padding: 76px 0 110px 0;
  display: flex;
  align-items: center;
}

/* =================hero left=================== */

.hero__content {
  width: 44%;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14;
  letter-spacing: -1.4px;
  width: 517px;
}

.hero__desc {
  margin-top: 22px;
  color: #c9d2da;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.7;
  width: 468px;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
}
/* ===================hero right================ */
.hero__media {
  flex: 1;
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
  border-radius: 6px;
}

.hero__img--big {
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}
/* =============our service============== */
.service {
  padding: 170px 0;
}

.service__desc,
.service__heading {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin: 18px auto 0;
}

.service__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}

.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.service-item {
  display: flex;
  align-items: center;
  width: 470px;
  padding: 21px;
  border-radius: 10px;
  background: #fff;
}

.service-item:hover {
  position: relative;
  box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}

.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 19px;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.service-item__desc {
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75;
  width: 351px;
}

.service__btn {
  margin-top: 55px;
}
